<header class="site-header">

  <div class="wrap">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Carolyn Jane Anderson</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://canders1.github.io/test/pubs.html">Publications</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://canders1.github.io/test/teaching/index.html">Teaching</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" href="https://canders1.github.io/test/me/index.html" tabindex="-1" aria-disabled="true">About Me</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
</div>

</header>
